/* CSS for homework 3 - COMP 1850
   link this CSS file into each of the three hw3 files
*/

/***************************
GIVEN CSS - NO NEED TO CHANGE (EXCEPT TO EXPERIMENT FOR FUN) 
****************************/

/* border-box makes box model easier to understand  */

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
}



/* wrapper is common (but just a conventional) name for container used to center whole page 

  This is an example of an ID selector */

#wrapper {
    width: 95%;
    margin: auto;
    padding: 2px;
    background-color: #141414;
}

/* a trick to make our icons align to left of text in boxes */
img { float: left;}

/* Basic flexbox CSS based on https://www.w3schools.com/css/css3_flexbox.asp 
   Students do no need to change details here  

   These are examples of class selectors */


/*************************************************
STUDENTS - EDIT CSS HERE 

CSS for colors, nav and footer. Students should edit content here to match requirements.
   
**************************************************/ 


.video{
	padding-top: 15px;
	width: 100%;
}

.logo{
	float: left;
	width: 250px;
}

.images {
	width: 100%;
	
}

.rowImage {	
	position: relative;
	padding-top: 50px;
	flex-wrap: wrap;
}

.centered-left {	
  text-align: left;
  float: left;
  color: grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;

}

.project{
padding-top: 20px;
padding-bottom: 20px;
padding-left:20px;
}

body {
	background-color: black;
}

/* Apply box model to nav, h1, h2 and footer. 
   Also style for appearance using color and text properties.
*/
form {
  display: block;
  margin-top: 150px;
  padding: 20px 20px;
}

h1 {
	background-color: black;
	color: white; 
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	color: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 10px;
}

p{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}

footer {
	text-align: center;
	padding: 10px 10px;
	font-style: italic;	
	font-weight: bold;
	color: white; padding: 7px; 
	text-align: center;"
}

/* Apply box model to a elemnts in nav create menu 
   NOTE: This is an example of a descendant selector
   which will avoid causing the a element in the footer
   being impacted */

nav {
    width: 100%;
    background: black;
    border-right: none;
	padding: 15px 5px;
}

nav .home {
	color: white; 
	font-size: 25px;
	
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    width: 20%;
    width: calc(100% / 6);
    box-sizing: border-box;
}

nav ul li:first-child {
    border-left: none;
}

nav .links:hover {
    color: grey;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

/* FORM*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* VIDEO*/

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/*TABLE*/

.table {
	margin-left:auto; 
    margin-right:auto;
	color: white;
	border-collapse: collapse;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 5px;
}

.tableText {
	text-transform: uppercase;
	background-color:#969696;
	font-weight: bold;
	
}

table, th, td {
  border: 1px solid grey;  
}

th {
	background-color:#969696;
	font-weight: bold;
}
