/* CSS for homework 3 - COMP 1850
   link this CSS file into each of the three hw3 files
*/

/***************************
GIVEN CSS - NO NEED TO CHANGE (EXCEPT TO EXPERIMENT FOR FUN) 
****************************/

/* border-box makes box model easier to understand  */

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
}



/* wrapper is common (but just a conventional) name for container used to center whole page 

  This is an example of an ID selector */

#wrapper {
    width: 95%;
    margin: auto;
    padding: 2px;
    background-color: #141414;
}

/* a trick to make our icons align to left of text in boxes */
img { float: left;}

/* Basic flexbox CSS based on https://www.w3schools.com/css/css3_flexbox.asp 
   Students do no need to change details here  

   These are examples of class selectors */

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
    flex-wrap: wrap;
}

/*************************************************
STUDENTS - EDIT CSS HERE 

CSS for colors, nav and footer. Students should edit content here to match requirements.
   
**************************************************/ 

body {
	background-color: black;
}

/* Apply box model to nav, h1, h2 and footer. 
   Also style for appearance using color and text properties.
*/
form {
  display: block;
  margin-top: 150px;
  padding: 20px 20px;
}

.video{
	padding-top: 15px;
	width: 100%;
}

.logo{
	float: left;
	width: 250px;
}

.images {
	width: 100%;
	
}

.gameImage {
	width: 15%;
	padding-left: 5px;
}

.rowImage {	
	position: relative;
	margin-top: 50px;
	flex-wrap: wrap;
}

.purchase {
	padding-top: 30px;
	color: white;
}

.centered-left {	
  text-align: left;
  float: left;
  color: grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;

}

h1 {
	background-color: black;
	color: white; 
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	color: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px 10px;
}

p{
	color: grey;
	font-family: Arial, Helvetica, sans-serif;
}

footer {
	text-align: center;
	padding: 10px 10px;
	font-style: italic;	
	font-weight: bold;
	color: white; padding: 7px; 
	text-align: center;"
}

/* Apply box model to a elemnts in nav create menu 
   NOTE: This is an example of a descendant selector
   which will avoid causing the a element in the footer
   being impacted */

nav {
    width: 100%;
    background: black;
    border-right: none;
	padding: 15px 5px;
}

nav .home {
	color: white; 
	font-size: 25px;
	
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
    width: 20%;
    width: calc(100% / 6);
    box-sizing: border-box;
}

nav ul li:first-child {
    border-left: none;
}

nav .links:hover {
    color: grey;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 0px;\

  
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
 width: 50%;
  
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}